<div class="max-w-4xl">
  <p><%= t("mfa.edit.disabled.status") %></p>

  <p><%= t("mfa.edit.disabled.info") %></p>
</div>

<div class="flex flex-col-reverse xs:flex-row items-center justify-between gap-2 pt-4">
  <%= link_to t("mfa.edit.back"), "/app/accounts/#{params[:account_id]}/profile/settings", class: "button clear primary" %>
  <%= link_to t("mfa.edit.disabled.action"), codes_account_mfa_path(account_id: @account_id), class: "button primary" %>
</div>